# Archivos de build de Expo
/node_modules
/.expo
/.expo-shared
/.expo-localhost-*

# Archivos de build de React Native
**/ios/Pods
**/android/app/libs
**/android/.gradle
**/android/.idea
**/android/build
**/android/gradle
**/android/gradlew
**/android/gradlew.bat

# Firebase y otros archivos de configuración
**/.firebaserc
**/google-services.json
**/google-services-desktop.json
**/functions/.runtimeconfig.json
/.env

# Otras configuraciones específicas
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de log y de sistema
*.log
.DS_Store
*.iml
